.body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid gray;
    padding: 20px;
    min-height: 250px;
}

.thead {
    display: flex;
    justify-content: space-between;
}